<h1>Información del Producto</h1>

<br>

<h3>Name</h3>
<h5>{{product.name}}</h5>

<br>

<h3>Price</h3>
<h5>${{product.price}}</h5>

<br>

<h3>Description</h3>
<h5>{{product.description}}</h5>

<form class="form" method="post">
    <button type="submit" class="btn btn-default btn-danger">Delete Product</button>   
</form>

